@model ControleChamadosRedeSuporte.Models.Funcionario

@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h3>Você tem certeza que deseja excluir o Funcionário:</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Graduação</dt>
        <dd>@Html.DisplayFor(model => model.Graduacao)</dd>

        <dt>@Html.DisplayNameFor(model => model.Rg)</dt>
        <dd>@Html.DisplayFor(model => model.Rg)</dd>

        <dt>Nome</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>


